*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: auto;
    display: block;
}
body{
    background-color: #0f2130;
}
nav{
    display: flex;
    height: 90px;
    background-color: rgb(180, 216, 247);
}
.logo{
    padding: 2rem;
    width: 20%;
    display: flex;
    gap:2rem;
}
.logo #threeLines{
    width: 15%;
}
.logo #logo-img{
    width: 80%;
    height: 50px;
}
.nav-sections{
    display: flex;
    width: 80%;
    background-color: bisque;
    align-items: flex-end;
    padding: 1rem;
}
.nav-items{

    width: 100%;
    display: flex;
}
.nav-sections img{
    width:15px;
    height: 20px;
    transform: rotate(90deg);
}