*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: auto;
    display: block;
}
body{
    background-color: #0b1b29;
}
nav{
    display: flex;
    height: 90px;
}
.logo{
    padding: 1.3rem;
    width: 20%;
    display: flex;
    gap:2rem;
}
.logo #threeLines{
    width: 15%;
}
.logo #logo-img{
    width: 80%;
    height: 50px;
}
.nav-sections{
    display: flex;
    width: 80%;
    align-items: flex-end;
    padding: 1rem;
    justify-content: space-evenly;
}
.nav-items{
    width: 100%;
    display: flex;
    gap: 0.4rem;
}
.nav-items p{
    color: white;
}
.nav-sections img{
    width:15px;
    height: 20px;
    transform: rotate(90deg);
}
.nav-search{
    padding: 1rem;
    width: 13%;
    display: flex;
    flex-direction: column;
}
.nav-search img{
    height: 60px;
    width: 80px;
    margin-left: 6rem;
}
.signing{
    
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.signing button{
    padding: 0.3rem;
    color: white;
    background-color:  #0f2130;
    border: 1px solid #0f2130;
    padding-block: 0;

}
.signing :nth-child(1){
    border-right: 2px solid white;
}
.under_nav{
    margin-top: 7rem;
    width: 90%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 1rem;
    margin: 100px;
}
.under_nav .right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right .upper-right{
    height: 55rem;
    background: url(/images/right-part.png) no-repeat center/cover;

}
.right .lower-right{
    height: 20rem;
    background-color: grey;
}
.what_next{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.images_what_next .items{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    justify-content: end;
}
.what_next .paragraph{
    padding: 1rem;
    height: 280px;
}
.what_next img{
    width: 100%;
}
.briliant{
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.briliant #b2{
    text-align: center;
}
.sparag{
    display: flex;
    justify-content: space-between;
}
.sparag p{
    color: white;
    width: 85%;
    font-size: 1.2rem;   
}
.right-arrow{
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #15344e;
}
.what_next .images_what_next{
}
.images_what_next{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.items{
    height: 100px;
    background-color: aquamarine;
}
.items.article{
    height: 35rem;
}
.items.article{
    background: url(/images/article.jpeg) no-repeat center/cover;
}
.items.survey{
    background: url(/images/survey.jpeg) no-repeat center/cover;
    margin-top: 5rem;
    height: 27rem;

}
.items.podcast{
    background: url(/images/podcast.png) no-repeat center/cover;
    height: 20rem;
}
.items.upcoming{
    background: url(/images/upcoming.png) no-repeat center/cover;
    height: 25rem;
    margin-top: -2.4rem;
}
.subscribe{
    padding: 3rem;
}
.subscribe h2{
    margin-bottom: 20px;
}
.subscribe .input{
    height: 40px;
    display: flex;
    margin-bottom: 20px;
}
.subscribe input{
    width: 90%;
    padding: 10px;
}
.subscribe .input .img{
    width: 10%;
    padding: 4px;
    background-color: blue;
}
.subscribe .input img{
    width: 100%;
}
.continueSec{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}
.continueSec .line{
    width: 150px;
}
.continueSec .line.right{
    margin-left: 10px;
    background-color: grey;
}
.social-media{
    display: flex;
    justify-content: space-between;

}
.social-item.apple img{
    width: 13%;
}
.social-item.linkedIn img{
    width: 13%;
}
.social-item{
    display: flex;
    border: 1px solid rgb(255, 255, 255);
    width: 25%;
    padding: 8px;
    gap: 8px;
    color: white;
}
.featured{
    background: url(/images/newsleter-banner.png) no-repeat center/cover;
    padding: 60px;
}
#fea-new{
    margin-bottom: 2rem;
    text-align: center;
    color: white;
}
.subsection{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.subsection h1{
    font-size: 3.9rem;
    font-weight: 300;
    color: white;
}
.subsection p{
    font-size: 1.4rem;
    color: white;
    font-weight: 100;
}
.subsection input{
    height: 50px;
    width: 60%;
    padding: 10px;
}
.subsection button{
    height: 50px;
    width: 17%;
    font-size: 1rem;
    background-color: white;
    border: 1px solid white;
}
.podcast{
    background-image: linear-gradient(to right, rgb(4, 4, 100),rgb(55, 55, 255));
    padding: 6rem;
}
.subpod{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.subpod h4{
    font-size: 4rem;
    color: white;
    font-weight: 100;
}
.subpod p{
    font-size: 1.7rem;
    color: white;
    width: 80%;
}
.subpod .spasage{
    display: flex;
    width: 100%;
    gap: 2rem;
}
.learn{
    display: flex;
    padding: 10px;
    height: 50px;
    width: 20%;
    gap: 10px;
    color: white;
    border: 1px solid rgb(255, 255, 255);


}
.learn img{
    width: 20%;
}
.pod-items{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
.pod-socials{
    display: flex;
    gap: 20px;
}
.pod-socials img{
    width: 100%;
}
.vid-section{
    margin-top: 3rem;
    background-color: white;
    height: 600px;
    display: flex;
}
.vid-left{
    width: 50%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.vid-left p{
    font-size: 1.5rem;
    font-weight: 100;
}
.vid-right{
    width: 50%;
    background: url(/images/constructors.jpeg) no-repeat center/cover;
}
.slide-div{
    height: 8px;
    background-color: white;
    border-radius: 10px;
}
.slider-items{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    color: white;
    font-weight: 100;
    width: 25%;

}
.sliders{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}
.help, .societal{
    padding: 4rem;
}
.how-parag, .societal-parag{
    margin-inline: auto;
    text-align: center;
    width: 60%;
    color: white;
    margin-bottom: 1.2rem;
}
.how-parag h4,.societal-parag h4{
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.how-parag p, .societal-parag p{
    font-size: 3rem;
}
.help-corosel, .societal-corosel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

}
.corosel-items, .societal-items{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
}
.corosel-items p, .societal-items p{
    font-size: 1.3rem;
}
.careers{
    background-color: white;
    padding: 4rem;
    text-align: center;
}
.careers h3{
    margin-bottom: 2rem;
}
.career-divs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.career-left{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}
.career-left h2{
    font-size: 2.7rem;
    color: rgb(35, 35, 238);
}
.career-left p{
    font-size: 1.6rem;
}
.career-left button{
    width: 40%;
    height: 40px;
    background-color: rgb(17, 17, 218);
    color: white;
    border: none;
    font-size: 1rem;

}
.career-right{
    position: relative;
    z-index: 3;
}
.blue{
    width: 200px;
    height: 200px;
    position: absolute;
    top: -40px;
    left: 1070px;
    background-color: blue;
    z-index: 0;
}
.societal{
    background-color: blue;
    padding: 5rem;
}
.download{
    background-color: white;
    padding: 5rem;
}
.download h1{
    font-size: 3.7rem;
    font-weight: 100;
    text-align: center;
    width: 80%;
    margin-inline: auto;
    margin-bottom: 1rem;
}
.download-divs{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.qrcode img{
    width: 100%;
}
.store h1{
    text-align: left;
    font-size: 2.9rem;
}
.down-links{
    display: flex;
    justify-content: start;
    gap: 0.6rem;
    margin-left: 3rem;
}
.down-links img{
    width: 30%;

}
.deferred{
    height: 300px;
    background-color: rgb(235, 231, 227);
    padding: 6rem;

}
.deferred .main{
    font-size: 1.7rem;
    height: 90px;
    display: flex;
    padding: 1.8rem 1.8rem 1.8rem 0;
    justify-content: space-between;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
.deferred img{
    width: 5%;
    transform: rotate(90deg);
}