*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: auto;
    display: block;
}
body{
    background-color: #0b1b29;
}
nav{
    display: flex;
    height: 90px;
}
.logo{
    padding: 1.3rem;
    width: 20%;
    display: flex;
    gap:2rem;
}
.logo #threeLines{
    width: 15%;
}
.logo #logo-img{
    width: 80%;
    height: 50px;
}
.nav-sections{
    display: flex;
    width: 80%;
    align-items: flex-end;
    padding: 1rem;
    justify-content: space-evenly;
}
.nav-items{
    width: 100%;
    display: flex;
    gap: 0.4rem;
}
.nav-items p{
    color: white;
}
.nav-sections img{
    width:15px;
    height: 20px;
    transform: rotate(90deg);
}
.nav-search{
    padding: 1rem;
    width: 13%;
    display: flex;
    flex-direction: column;
}
.nav-search img{
    height: 60px;
    width: 80px;
    margin-left: 6rem;
}
.signing{
    
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.signing button{
    padding: 0.3rem;
    color: white;
    background-color:  #0f2130;
    border: 1px solid #0f2130;
    padding-block: 0;

}
.signing :nth-child(1){
    border-right: 2px solid white;
}
.under_nav{
    margin-top: 7rem;
    width: 90%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 1rem;
    margin: 100px;
}
.under_nav .right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right .upper-right{
    height: 55rem;
    background: url(/images/right-part.png) no-repeat center/cover;

}
.right .lower-right{
    height: 20rem;
    background-color: grey;
}
.what_next{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.images_what_next .items{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    justify-content: end;
}
.what_next .paragraph{
    padding: 1rem;
    height: 280px;
}
.what_next img{
    width: 100%;
}
.briliant{
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.briliant #b2{
    text-align: center;
}
.sparag{
    display: flex;
    justify-content: space-between;
}
.sparag p{
    color: white;
    width: 85%;
    font-size: 1.2rem;   
}
.right-arrow{
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #15344e;
}
.what_next .images_what_next{
}
.images_what_next{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.items{
    height: 100px;
    background-color: aquamarine;
}
.items.article{
    height: 35rem;
}
.items.article{
    background: url(/images/article.jpeg) no-repeat center/cover;
}
.items.survey{
    background: url(/images/survey.jpeg) no-repeat center/cover;
    margin-top: 5rem;
    height: 27rem;

}
.items.podcast{
    background: url(/images/podcast.png) no-repeat center/cover;
    height: 20rem;
}
.items.upcoming{
    background: url(/images/upcoming.png) no-repeat center/cover;
    height: 25rem;
    margin-top: -2.4rem;
}
.subscribe{
    padding: 3rem;
}
.subscribe h2{
    margin-bottom: 20px;
}
.subscribe .input{
    height: 40px;
    display: flex;
    margin-bottom: 20px;
}
.subscribe input{
    width: 90%;
    padding: 10px;
}
.subscribe .input .img{
    width: 10%;
    padding: 4px;
    background-color: blue;
}
.subscribe .input img{
    width: 100%;
}
.continueSec{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}
.continueSec .line{
    width: 150px;
}
.continueSec .line.right{
    margin-left: 10px;
    background-color: grey;
}
.social-media{
    display: flex;
    justify-content: space-between;

}
.social-item.apple img{
    width: 13%;
}
.social-item.linkedIn img{
    width: 13%;
}
.social-item{
    display: flex;
    border: 1px solid rgb(255, 255, 255);
    width: 25%;
    padding: 8px;
    gap: 8px;
    color: white;
}
.featured{
    height: 400px;
    background: url(/images/newsleter-banner.png) no-repeat center/cover;
    padding: 60px;
}
.subsection{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.subsection h1{
    font-size: 3rem;
    color: white;
}
.subsection p{
    font-size: 1.4rem;
    color: white;
    font-weight: 100;
}